<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <meta http-equiv="Content-Security-Policy"
          content="
            img-src 'self' cdvfile: filesystem: https://s13.postimg.org;
            default-src * gap://ready;
            style-src 'self' 'unsafe-inline';
            script-src * 'unsafe-inline' 'unsafe-eval'"
            />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="teal">
    <title></title>


    <!-- compiled css output -->
    <link href="css/ionic.app.min.css" rel="stylesheet">

    <!-- user css -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/ngmessages.css" rel="stylesheet">
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/angular-cookies/angular-cookies.min.js"></script>
    <script src="lib/moment/moment.js"></script>
    <script src="lib/NepaliDateMapper.js" type="text/javascript" charset="utf-8"></script>
    <script src="lib/imgcache.js/js/imgcache.js"></script>
    <script src="lib/angular-imgcache/angular-imgcache.js"></script>
    <!-- <script src="lib/ng-file-upload/ng-file-upload.min.js"></script> -->
    <script src="lib/ng-file-upload/ng-file-upload.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/routes.js"></script>


    <script src="js/controllers.js"></script>
  </head>
  <body ng-app="starter">
    <ion-pane>
      <div ng-if="isOffline" class="button-full offline">
        No connection detected
      </div>
      <div id="allBackground">
        <ion-nav-view name="bodyContent" class="has-footer main-nav-view">
        </ion-nav-view>
        <ion-footer-bar style="padding: 0;">
          <img img-cache
               ng-if="currentAd.ad_url"
               ng-click="goToAd(currentAd)"
               ic-src="{{currentAd.ad_url}}"
               style="width: 100vw;">
        </ion-footer-bar>
      </div>
    </ion-pane>
  </body>
</html>

<script id="reply-modal.html" type="text/ng-template">
  <ion-modal-view>
  <ion-header-bar>
  <h1 class="title">Post your reply</h1>
  </ion-header-bar>
  <ion-content>
  <div id="reply_modal">
    <form>
      <textarea  ng-model="commentText" class="dialog" id="reply_input"></textarea>
    </form>
  </div>
  <div class='row'>
    <button ng-click="closeModal()" class='col button button-clear no-active'>Cancel</button>
    <button ng-click="reply(commentText)" class='col button '>Submit</button>
  </div>
  </ion-content>
  </ion-modal-view>
</script>

<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
  <ion-header-bar>
  <h1 class="title">Verification</h1>
  </ion-header-bar>
  <ion-content>

  <div ng-show="hasErrors" class="item item-input">
    <p>
    <ul class='errors'>
      <li ng-repeat='error in errors'><p>{{error}}</p></li>
    </ul>
    </p>

  </div>


  <div class="card" style="background: powderblue;padding-bottom: 20px">
    <div class="list list-inset">
      <div class="item item-text-wrap">
        You will soon receive a verification code in your sms. Please enter the code here:
      </div>
      <label class="item item-input" style="margin: 0;">
        <span class="input-label" >Verification Code</span>
        <input  ng-model='verification_code' required type="text" autofocus>
      </label>
    </div>
    <button type="submit" ng-click='verifySubmit(verification_code)' class='center half-wide button shadow button-calm'>Submit</button>
    <div style="text-align: center;" ng-click='verifySubmit(verification_code, "resend")' type="submit" class='center half-wide '>Resend Code</div>
  </div>
  <button type="submit" ng-click='closeModal()' class='center half-wide button  button-stable'>Cancel</button>
  </ion-content>
  </ion-modal-view>
</script>

<script id="templates/form-errors.html" type="text/ng-template">  
  <div class="form-error" ng-message="required">This field is required.</div>
  <div class="form-error" ng-message="minlength">This field is must be at least 5 characters.</div>
  <div class="form-error" ng-message="maxlength">This field is must be less than 50 characters</div>
</script>  
