@font-face {
  font-family: "Bitter";
  src: url("../fonts/Bitter-Bold.otf") format("otf"),
  url("../fonts/Bitter-Regular.otf") format("otf"),
  ;
}

.bar-header{
  background: #4195a0;
  height: 50px;
  /* background-color: rgb(40, 145, 190); */
}

.bar-header .icon{
  font-size: x-large;
  margin: 0 0px;
  color: #ffffff;
  padding: 8px;
}

.bar-header .item-input{
  background-color: transparent;
  border: none;
  width: 93%;
}

.bar-header .item-input input{
  color:white;
}

.bar-header button{
  background-color: transparent;
  border:none;
}

.bar-header .item-input ::-webkit-input-placeholder { /* WebKit browsers */
  color:   white;
  opacity: 0.7;
}
.bar-header .item-input :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    white;
  opacity:  1;
}
.bar-header .item-input ::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    white;
  opacity:  1;
}
.bar-header .item-input :-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    white;
}

.list-inset .item-input ::-webkit-input-placeholder { /* WebKit browsers */
  color:   rgb(40, 145, 190);
  opacity:0.8;
}

.mainContents {
  /* margin-top:55px; */
  margin-top: 100px;
}
.mainContents.post {
  width: 90%;
  margin-left: 5%;
}

.item.item-avatar{
  min-height: 100px;
  font-family: 'Bitter-Bold'; 
}
.item.item-avatar h2{
  font-family: 'Bitter-Bold'; 
  font-style: bold;
  font-size: 25px;
  font-size: 1.2em;
  color: #4195a0;
  padding-bottom: 10px;
  white-space: pre-wrap;
}
.item.item-avatar p{
  opacity: 0.7;
  white-space: pre-wrap;
}

.item.item-avatar > img{
  /* max-width: 80px !important; */
  /* max-height: 80px !important; */
  /* border-radius: 0 !important; */
  /* border: none; */
}

.item > h2{
  color: rgb(40, 145, 190);
  font-weight: 600;
}

.item > h2 > a{
  text-decoration: none;
  color:inherit;
}

.icon.ion-at{
  color:#97A689;
}

.icon.ion-social-facebook{
  color: #3D5A99;
}

.icon.ion-social-twitter{
  color:#55ACEE;
}

#landing {
  height: 100%;
  height: 100vh;
  width: 100vw;
  padding-top: 2px;
  margin-top: 0px;
  text-align: center;

  background: #00528c;
  background: url(../img/back.jpg);
  background-size: cover;
  background-position-y: 8px;
}

#branding{
  text-align: center;
  height: 40vh;
  background: transparent;
  box-shadow: none;
  padding: 10px;
}

#branding{
  text-align: right;
  padding-right: 5%;
  margin: 10px;
  background-size: auto;
}

#logo{
  height: 80px;
  height: 15vh;
  background: none;
}

#branding h1{
  font-size: 70px;
  color: white;
}

#branding h3{
  color: white;
  padding-left: 5px;
}

.bar-header{
  border-bottom-width: 0;
}

#landing.card.item{
  background: blue;
}

.option-buttons .card{
  height: 20vh;
  margin: 10px;
}

.row + .row{
  margin-top: 5px;
  padding-top: 0;
}

.col .button.button-calm{
  border: 0;
  background: transparent;
  color: white;
}
#i-am-doctor{
  position: absolute;
  bottom: 10px;
  width: 95%;
  margin-left: 2.5%;
}
.row.full-button{
  margin: auto;
  width: 95%;
}

.list.card{
  margin-top: 10px;
}
.scroll-content{
  background: rgb(239, 239, 239);
}

.tabs-secondary{
  background: aliceblue;
}
.ion-social-facebook{
  opacity: 0.7;
}
.scroll-content{
  background: aliceblue;
}
.row button{
  width: 300px;
  width: 95vw;
  min-height: 50px;
  margin: auto;
  background: #4195A0;
  color: white;
  border: 2px solid rgba(0,0,0,0.15);
  border-radius: 4px;

  box-shadow: 0 0 1em #4195a0;
}
#buttons{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 86%;
  width: 86vw;
  /* margin-left: 7%; */
  margin: 0 auto;
}
.button.active, .button.activated{
  background: #4195A0;
  opacity: 0.8;
}
label.item.item-input{
  /* border:none; */
  margin: 5px;
  /* box-shadow: 0 0 1em lightgray; */
}
form.editForm label.item.item-input{
  margin: 0;
}
.bar-header label.item.item-input{
  box-shadow: 0 0 0 transparent;
}
.list-inset{
  background: none;
}
.list-inset .button{
  width: 96%;
  margin-left: 2%;
  box-shadow: 0 0 1em #4195a0;
  border: none;
  color: white;
  border-radius:3px;
}
.bar-header .icon.ion-close{
  padding-right: 20px;
  opacity: 0.9;
}
.bar-footer .title{
  color: white;
}
.bar-footer{
  background: #4195a0;
}
.button-clear{
  color:  white;
}
#arrows:before, #arrows:after{
  font-size: 20px;
}
.errors li>p{
  margin-left: 34px;
  white-space: pre;
  color: red;
}
.popup-body{
  padding: 15px;
  overflow: visible;
}
.popup-container .popup{
  border-radius: 3px;
}
#reply_input{
  min-height: 200px;
  padding: 20px;
  width: 95%;
  margin: 2.5%;
  border: none;
}
.right-align{
  text-align: right;
}
.button.label-blue{
  float: right;
  border: none;
  /* width: 100px; */
  background-color: white;
  color: #4195a0;
}
.button.label-blue.activated, .button.label-blue:active{
  border:none;
  background-color: lightgray;
}
.dialog {
  position: relative;
  display: inline-block;
  min-height: 100px;
  vertical-align: top;
  background-color: #fff;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.04);
}
.list.card.dialog{
  padding: 0;
  border: 1px solid lightgray;
}

.dialog {
  min-width: 95.5%;
  box-sizing: border-box;
  padding: 16px;
  margin-bottom: 10px !important;
}

.dialog > .content {
  height: 170px;
  font-size: 0.9em;
}

.dialog > .content > .title {
  font-size: 1.3em;
}

.dialog > .button {
  width: 90px;
  float: right;
}
.button-full.offline{
  position: fixed;
  bottom: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  min-height: 12px;
  height: 20px;
  background: red;
  color: lightgray;
  opacity: 0.6;
}


label.item.item-input span{
  text-align: right;
  color: gray;
  font-size: 15px;
}
.input-label{
  width: 30%;
}

label.item.item-input input{
  font-size: 18px;
  color: #00528c;
}

.form.login{
  margin-top: 50px;
}
.center{
  display: block;
  float: none;
  margin: auto;
}
.shadow{
  box-shadow: 0 0 1em #4195a0;
}
.button.button-calm.button-signup{
  background-color: lightgray;
}
.half-wide{
  width: 50%;
  margin-top: 40px;
  border: none;
}
.no-active.button.activated{
  background : initial;
}



label.item.item-input span{
  text-align: left;
  color: gray;
  font-size: 15px;
}
.input-label{
  width: 30%;
}

label.item.item-input input{
  font-size: 18px;
  color: #00528c;
}
.form.login{
  margin-top: 50px;
}
.center{
  display: block;
  float: none;
  margin: auto;
}
.shadow{
  box-shadow: 0 0 1em #4195a0;
}
.button.button-calm.button-signup{
  background-color: lightgray;
}
.button-padding{
  margin-top: 40px;
}
button.button.button-calm{
  width: 50%;
  border: none;
}
.border{
  border: 1px solid lightgray;
  /* vertical | horizontal */ 
  padding: 3px 10px;
  margin: 3px;
}
.fix-to-bottom{
  position: absolute;;
  bottom:10px;;
  z-index: 4;
  width: 96%;
  margin:0;
  margin-left: 2%;
  padding: 0;
}

.list.card .item ,.list.card .item p{
  overflow: visible;
  white-space: normal;
}

.center-align {
  text-align : center;
}
.reference-table .col{
  color: gray;
  border-bottom: 1px dotted lightgray ;
}
.reference-table:last-child{
  border: none;
}
.row.gray_highlight{
  background-color: lightgray;
}
.border{
  border: 2px solid black !important;
  padding-left: 20px !important;
}
.italic{
  font-style: italic;
}

.main-nav-view {
  margin-top: 40px;
}

.pane, .scroll-view{
  display: flex;
  flex: 1;
}

.pane {
  padding-top: 44px;
  flex-direction: column;
}

#journal-content {
  margin-bottom: -44px;
}

.list-inset {
  width: 95vw;
  margin-top: 90px;
}

.references-detail {
  padding-top: 40px;
  margin-bottom: -44px;
}

.pregnancy-wheel{
  margin-top: 90px;
}

#ad-footer {
}

.signup-form.login{
  margin-top: 100px;
}
