<div class="bar bar-header item-input-inset">
  <button class="icon ion-arrow-left-c" ui-sref="references"></button>
  <div style="color:white; font-size: 20px;margin-left: 20px;">BMI Calculator</div>
</div>
<ion-view style="margin-top: 50px">
  <div ng-if='hasErrors' class="card list">
    <li class="item">
      {{error}}
    </li>
  </div>

  <div class="list list-inset card">
    <div class="item item-divider">Weight</div>
    <label class="item item-input" >
      <input type="number" ng-model="bmidata.kgs" placeholder="kgs">
      <span class="input-label" style="width: 20%">KGs</span>
    </label>
    <div class="item item-divider">Height</div>
    <label class="item item-input">
      <input type="number" ng-model="bmidata.feet" placeholder="feet">
      <span class="input-label" style="width: 20%">Feet</span>
    </label>
    <label class="item item-input">
      <input type="number" ng-model="bmidata.inches" placeholder="inches">
      <span class="input-label" style="width: 20%">Inches</span>
    </label>
    <button class="button button-full button-positive" ng-click="calculateBMI()">
      Calculate
    </button>
  </div>

  <div class="list card" style="background: black" ng-if="!(bmiResult.bmi === 0)" >
    <div class="item center-align sub-header" style="background:rgb(211, 250, 255) ">
      Results
    </div>
    <div class="item ">
      BMI:  {{bmiResult.bmi}}
    </div>
    <div class="item ">
      You are <span style="color: #4195a0">{{bmiResult.assessment}}</span>
    </div>
  </div>
</ion-view>

