<ion-view ng-controller="ReferencesController">
  <!-- <ion-content style="margin-top: 45px" > -->
  <div class="bar bar-header item-input-inset">
    <button class="icon ion-arrow-left-c" ui-sref="references"></button>
    <div id="title_container">
      <div id="title_here">
      </div>
    </div>
  </div>

  <ion-content class="references-detail">
    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" ng-model="searchText" placeholder="Search text">
        </label>
        <button ng-click="filterList(searchText)" class="button button-small">
          Search
        </button>
      </div>
    </div>
    <div id="table_container">
      <div id="table_here">
      </div>
    </div>
  </ion-content>
</ion-view>

<style>
  #table_container .row{
    border: 1px dotted lightgray;
  }
</style>
