
<div class="bar bar-header item-input-inset">
  <button class=" icon ion-arrow-left-c" ui-sref="landing" ></button>
  <div style="color:white; font-size: 20px;margin-left: 20px;:">User Forums</div>
</div>

<ion-view >
<ion-content ng-controller="CaseController" >
<div class="mainContents" style='margin-bottom: 55px'>

  <div ng-repeat="_case in cases">
    <div ng-if="_case" class="list card dialog" >
      <div class="item item-body">
        <span  style="text-align: right;font-family:sans-serif;font-weight: bold; font-size: small">{{_case.user}}</span>
        <h2 ng-click="viewDetail(_case)" >{{_case.title}}</h2>
        <p>{{_case.details}}</p>
        <p>
        <a href="#" class="subdued">
          <font style="font-family:sans-serif ; font-size: small"> {{_case.timedelta}}</font>
          <font ng-if="_case.comment_count" style="font-family:sans-serif;font-weight: bold; font-size: small">| {{_case.comment_count}} comments</font>
        </a>
        <span ng-if="!_case.error" ng-click="viewDetail(_case)" class=" button label-blue right-align" fit>View More</span>
        </p>
      </div>
    </div>
  </div>
</div>


</ion-content>
  <div ng-if="isLoggedIn" id="post-case" class="row fix-to-bottom">
    <button class="button" ng-if="isLoggedIn" ui-sref="post">
      Post a New Case
    </button>
  </div>

</ion-view>
