<ion-view>
<div class="bar bar-header item-input-inset">
  <button class="icon ion-arrow-left-c" onclick="window.history.go(-1)" ></button>
  <button class="button button-clear" style="color: white">Case Detail</button>
</div>

<ion-content ng-controller="CaseController" overflow-scroll="true">

<div class="mainContents" style="margin-bottom: 55px" >
  <div class="list card dialog" style="margin-top: 0; margin-bottom: 0;" >
    <div class="item item-body">
      <h2 style="font-size: 20px">{{thisCase.title}}</h2>
      <p>{{thisCase.message}}</p>
      <div style="font-family:sans-serif; text-align: right;width:inherit; font-size: small">{{thisCase.user}}</div>
      <p style="margin-top:0; text-align: right"> <a href="#" class="subdued">
        <font style="font-family:sans-serif ; font-size: small"> {{thisCase.case_date}}</font>
        <font ng-if="thisCase.comment_count" style="font-family:sans-serif;font-weight: bold; font-size: small">| {{thisCase.comment_count}} comments</font>
      </a> 
      </p>
    </div>
  </div>
  
  <div ng-repeat="comment in thisCase.comments" myattr={{$index}} >
    <div class="list card dialog" >
      <div class="item item-body">
        <p>{{comment.comment}}</p>
        <div style="font-family:sans-serif; text-align: right;width:inherit; font-size: small"> By <span style="font-weight: bold">{{comment.user}} </span>on 
          <font style="font-family:sans-serif ; font-size: small"> {{comment.comment_date}}</font>
        </div>
        <div style="font-family:sans-serif; text-align: right;width:inherit; font-size: small"> 
          <font ng-if="comment.up_voters" style="font-family:sans-serif ; font-size: small">  {{comment.up_votes_count}} upvotes from <span ng-repeat=" user in comment.up_voters"><span> {{ user.user }},</span></span>   </font>
       </div>
        <div class="right-align">
          <span ng-click="deleteComment(comment.comment_id)" ng-if="isLoggedIn && comment.user_comment" class=" button label-blue" fit>Delete</span>
          <span ng-if="!comment.liked && isLoggedIn" id={{$index}} on-click="" ng-click="vote(comment.comment_id, thisCase, $index)" class=" button label-blue" fit>Like </span>
        </div>
      </div>
    </div>
  </div>

</div>

</ion-content>
<div ng-if="isLoggedIn" ng-click='openModal()' class="button fix-to-bottom"  style="width: 94%; margin-left: 3%; background: #4195A0; color: white; box-shadow: 0 0 1em #4195a0; " >
    <span>Post your reply</span>
  </div>

</ion-view>
