<ion-view >
  <div class="bar bar-header item-input-inset">
    <button class="icon ion-arrow-left-c" ui-sref="landing"></button>
    <label class="item-input-wrapper">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <form ng-submit="getDoctors()" >
        <input type="search" ng-model="doctorText" placeholder="Search">
      </form>
      <!-- <i class="icon ion-close" ng-click="clearSearch()"></i> -->
    </label>
    <button class="button button-clear" ng-click="getDoctors()">Search</button>
  </div>

  <!-- <ion-content overflow-scroll="true"> -->
    <ion-content>
      <div class="mainContents">
        <div class='list card'>
          <p class='item'>Click on an item to claim</p> 
        </div>
        <!-- <div class="list card" ng-repeat="doctor in currentListofDoctors | filter:doctorText"> -->
          <div class="list card" ng-repeat="doctor in currentListofDoctors"> 

            <div class="item item-avatar" ng-click="claim(doctor.id)" >
              <img ng-if="doctor.profileImg" ng-src="{{doctor.profileImg}}">
              <p ><h2 ng-if="doctor.name"><span style="text-transform: uppercase;">{{doctor.name}}</span></h2></p>
              <p ng-if="doctor.errorText" >{{doctor.errorText}}</p>
              <p ng-if="doctor.qualification"><i class="icon ion-university"> {{doctor.qualification}}</i></p>
              <p ng-if="doctor.nma_no">NMA no.: {{doctor.nma_no}}</p>
              <p ng-if="doctor.nmc_no">NMC no.: {{doctor.nmc_no}}</p>
            </div>
          </div>
        </div>
      </ion-content>

      <div class="bar bar-footer">
        <button ng-click='getDoctors("prev")' class="button button-clear">
          <i id="arrows" class="icon ion-chevron-left"></i>
          Previous
        </button>
        <div class='title'>
          <p>Page {{currentPage}} of {{totalPages}}</p>
        </div>
        <button ng-click='getDoctors("next")' class="button button-clear">
          Next
          <i id="arrows" class="icon ion-chevron-right"></i>
        </button>
      </div>
    </ion-view>
