<div class="bar bar-header item-input-inset">
  <button class="icon ion-arrow-left-c" ui-sref="list"></button>
  <div style="color:white; font-size: 20px;margin-left: 20px;">Details</div>
</div>
<ion-view view-title="Details">
  <ion-content style="margin-top: 95px; margin-bottom: -50px">
    <div class="list card" ng-if="doctor">
      <div class="item item-avatar">
        <img ng-if="doctor.photo" ng-src="{{doctor.photo}}">
        <h2>{{doctor.name}} </h2>
        <h3 style="font-style: italic;color:lightgray"> {{doctor.gender.toLowerCase()}} </h3>
        <p ng-if="doctor.specialization">{{doctor.specialization}}</p>
        <p ng-if="doctor.designation">{{doctor.designation}}</p>
        <p ng-if="doctor.nmc_no">NMC No. {{doctor.nmc_no}}</p>
        <p ng-if="doctor.nma_no">NMA No. {{doctor.nma_no}}</p>
        <p ng-if="doctor.super_speciality">Super Speciality: {{doctor.super_speciality}}</p>
        <p ng-if="doctor.specialization">Specialization: {{doctor.specialization}}</p>
        <p ng-if="doctor.country_of_practice">Country of Practice: {{doctor.country_of_practice}}</p>
        <p ng-if="doctor.experience">Experience : {{doctor.experience}}</p>
        <p ng-if="doctor.life_member_no">Life Member No. : {{doctor.life_member_no}}</p>
      </div>
      <div ng-if="doctor.photo" class="item item-image">
        <img ng-if="doctor.photo" ng-src="{{doctor.photo}}">
      </div>
      <div class="list ">
        <ul>
          <li class="item">
            <p ng-if="doctor.academic_institute">Institute:<b> {{doctor.academic_institute}}</b></p>
            <hr/>
            <p>Permanent Address: {{doctor.permanent_address}}</p>
            <p>Current Address: {{doctor.current_address}}</p>
          </li>
          <div ng-if="doctor.hospital"  class='card'>
            <li class="item item-divider">Hospitals</li>
            <li class="item" ng-if="doctor.hospital">{{doctor.hospital}}</li>
            <li class="item" ng-if="doctor.clinic">{{doctor.clinic}}</li>
          </div>
        </ul>
      </div>

      <div ng-if="doctor.phone || doctor.email || doctor.mobile" class="list card">
        <a ng-href="tel:{{doctor.phone}}" ng-if="doctor.phone" class="item item-icon-right">
          <i class="icon ion-ios-telephone-outline"></i>
          {{doctor.phone}}
        </a>
        <a ng-href="tel:{{doctor.mobile}}"
          ng-if="doctor.phone && isClaimed"
          class="item item-icon-right">
          <i class="icon ion-iphone"></i>
          {{doctor.mobile}}
        </a>
        <a ng-href="mailto:{{doctor.email}}" ng-if="doctor.email" class="item item-icon-right">
          <i class="icon ion-email"></i>
          {{doctor.email}}
        </a>
      </div>

      <div class="list card">
        <ul>
          <li class="item item-divider">Qualification</li>
          <li class="item" ng-if="doctor.qualification">
            {{doctor.qualification}}
          </li>
          <li class="item" ng-if="doctor.qualification_post_graduate">
            <span class='italic'>Post  Graduate: </span>
            <span>{{doctor.qualification_post_graduate}}</span>
          </li>
          <li class="item" ng-if="doctor.qualification_bachelor">
            <span class="italic">Bachelor's: </span> 
            <span>{{doctor.qualification_bachelor}}</span>
          </li>
          <li class="item" ng-if="doctor.qualification_diploma">
            <span class='italic'>Diploma:</span> 
            <span>{{doctor.qualification_diploma}}</span>
          </li>
        </ul>
      </div>

    </div>
  </ion-content>
</ion-view>
