<div class="bar bar-header item-input-inset">
  <button class=" icon ion-arrow-left-c" ng-click='$ionicGoBack(-1)'></button>
  <div style="color:white; font-size: 20px;margin-left: 20px;">Edit Profile</div>
</div>
<ion-view>

  <ion-content>
    <div class="mainContents">

      <form class='editForm' name="editForm" novalidate="" >
        <label class='item item-input'>
          <span class='input-label'>*Name</span>
          <input name='name'
          ng-model='user.name'
          type='text'
          />
        </label>
        <label class='item item-input'>
          <span class='input-label'>*Mobile</span>
          <input name='mobile'
          ng-model='user.mobile'
          type='number'
          />
        </label>
        <label class='item item-input'>
          <span class='input-label'>Phone</span>
          <input name='phone'
          ng-model='user.phone'
          type='number'
          />
        </label>
        <label class='item item-input'>
          <span class='input-label'>*Email</span>
          <input name='email'
          ng-model='user.email'
          type='email'
          />
        </label>

        <br>

        <label class='item item-input'>
          <span class='input-label'>*NMC No.</span>
          <input name='nmc_no'
          ng-model='user.nmc_no'
          type='number'
          />
        </label>
        <label class='item item-input'>
          <span class='input-label'>NMA No.</span>
          <input name='nma_no'
          ng-model='user.nma_no'
          type='number'
          />
        </label>
        <label class='item item-input'>
          <span class='input-label'>Life Membership</span>
          <input name='life_member_no'
          ng-model='user.life_member_no'
          type='number'
          />
        </label>
<label class='item item-input'>
          <span class='input-label'>Citizenship No.</span>
          <input name='citizenship_no'
          ng-model='user.citizenship_no'
          type='number'
          />
        </label>

        <br>

        <label class='item item-input'>
          <span class='input-label'>Qualification</span>
          <input name='qualification'
          ng-model='user.qualification'
          type='text'
          />
        </label>
        <label class='item item-input'>
          <span class='input-label'>Designation</span>
          <input name='designation'
          ng-model='user.designation'
          type='text'
          />
        </label>
        <label class='item item-input'>
          <span class='input-label'>Experience</span>
          <input name='experience'
          ng-model='user.experience'
          type='text'
          />
        </label>
        <label class='item item-input'>
          <span class='input-label'>Specialization</span>
          <input name='specialization'
          ng-model='user.specialization'
          type='text'
          />
        </label>
        <br>

        <label class="item item-input item-select">
          <span class="input-label">
            Gender
          </span>
          <select ng-model='user.gender'>
            <option>Male</option>
            <option>Female</option>
          </select>
        </label>
        <br>

        <div class='item'>Address</div>
        <label class="item item-input ">
          <span class='input-label'>Current</span>
          <input name='current_address'
          ng-model='user.current_address'
          type='text'/>
        </label>
        <label class="item item-input ">
          <span class='input-label'>Permanent</span>
          <input name='permanent_address'
            ng-model='user.permanent_address'
            type='text'/>
        </label>
        <br>

        <label class='item item-input'>
          <span class='input-label'>Hospital</span>
          <input name='hospital'
            ng-model='user.hospital'
            type='text'
            />
        </label>
        <label class='item item-input'>
          <span class='input-label'>Clinic</span>
          <input name='clinic'
            ng-model='user.clinic'
            type='text'/>
        </label>
        <button 
          type='submit' 
          class='button button-positive button-full'
          ng-click="submitForm()">
          Submit
        </button>

      </form>
    </div>

  </ion-content>
</ion-view>
