<ion-view>
  <div class="bar bar-header item-input-inset">
    <button class="icon ion-arrow-left-c" ui-sref="landing"></button>
    <div style="
      color:white;
      font-size: 20px;
      margin-left: 20px;
    ">News and Events</div>
  </div>

  <ion-content style=" margin-bottom: -44px; ">
    <div class="mainContents">
      <div class="card" ng-repeat='d in data'>
        <h2 class='item item-text-wrap item-divider'>
          {{d.title}}
        </h2>
        <div class="item item-text-wrap">
          {{d.content}}
        </div>
        <div class="item item-divider">
          Posted {{ d.published_date}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
