<div class="bar bar-header item-input-inset">
  <button class="icon ion-arrow-left-c" ui-sref="references"></button>
  <div style="color:white; font-size: 20px;margin-left: 20px;">Glasgow Coma Scale</div>
</div>
<ion-view >
  <ion-content style='margin-top: 90px; margin-bottom: -44px;' overflow-scroll="false">
    <div class='card reference-table' >
      <div class="item item-divider">
        Best Eye Response (E)
      </div>
      <div class="row">
        <div class="col">Spontaneous open with blinking at baseline</div>
        <div class="col col-25" style="text-align:right">4</div>
      </div>
      <div class="row">
        <div class="col">Opens to verbal commands, speech, or shouting</div>
        <div class="col col-25" style="text-align:right">3</div>
      </div>
      <div class="row">
        <div class="col">Opens to pain, not applied to face</div>
        <div class="col col-25" style="text-align:right">2</div>
      </div>
      <div class="row">
        <div class="col">None</div>
        <div class="col col-25" style="text-align:right">1</div>
      </div>
    </div>

    <div class='card reference-table' >
      <div class="item item-divider">
        Best Verbal Response (V)
      </div>
      <div class="row">
        <div class="col">Oriented</div>
        <div class="col col-25" style="text-align:right">5</div>
      </div>
      <div class="row">
        <div class="col">Confused Conversation, but able to answer questions</div>
        <div class="col col-25" style="text-align:right">4</div>
      </div>
      <div class="row">
        <div class="col">Inappropriate responses, words discernible</div>
        <div class="col col-25" style="text-align:right">3</div>
      </div>
      <div class="row">
        <div class="col">Incomprehensible speech</div>
        <div class="col col-25" style="text-align:right">2</div>
      </div>
      <div class="row">
        <div class="col">None</div>
        <div class="col col-25" style="text-align:right">1</div>
      </div>
    </div>   

    <div class='card reference-table' >
      <div class="item item-divider">
        Best Motor Response
      </div>
      <div class="row">
        <div class="col">Obeys commands for movement</div>
        <div class="col col-25" style="text-align:right">6</div>
      </div>
      <div class="row">
        <div class="col">Purposeful movement to painful stimulus</div>
        <div class="col col-25" style="text-align:right">5</div>
      </div>
      <div class="row">
        <div class="col">Withdraws from pain</div>
        <div class="col col-25" style="text-align:right">4</div>
      </div>
      <div class="row">
        <div class="col">Abnormal (spastic) flexion, decorticate posture</div>
        <div class="col col-25" style="text-align:right">3</div>
      </div>
      <div class="row">
        <div class="col">Extensor (rigid) flexion, decorticate posture</div>
        <div class="col col-25" style="text-align:right">2</div>
      </div>
      <div class="row">
        <div class="col">None</div>
        <div class="col col-25" style="text-align:right">1</div>
      </div>
    </div>


  </ion-content>

</ion-view>
