<div class="bar bar-header item-input-inset">
  <button class="icon ion-arrow-left-c" ui-sref="landing"></button>
  <label class="item-input-wrapper">
    <i class="icon ion-ios7-search placeholder-icon"></i>
    <form ng-submit="getJournals(queryText)" >
      <input type="search" ng-model="queryText" placeholder="Search">
    </form>
  </label>
  <button class="button button-clear" ng-click="getJournals(queryText)">Search</button>
</div>

<ion-view>
  <ion-content scroll="true" id="journal-content">
    <div class="mainContents">
      <div class="list card" ng-repeat='journal in journals'>

        <div ng-click = "viewJournal(journal)" class="item item-body">
          <h2 ng-bind-html="journal.title"></h2>
          <p>
            <span href="#" class="subdued">{{journal.publisher}}</span>
            <span href="#" class="subdued" style="float: right">{{journal.publish_date.split(' ')[0]}}</span>
          </p>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
