<ion-scroll>
  <div id='landing' ng-controller="LandingController">
    <div class="row" style="padding: 10px">
      <div class="col">
        <img id="logo" src='img/nmalogo.png'>
      </div>
      <div class="col col-75">
        <h1 style="
          color: white;
          font-size: 4rem;
          font-family: Bitter-Bold;
          margin-top: 20px;
          ">NMA</h1>
      </div>
    </div>

    <div id='buttons'>
      <div class="row">
        <button  class="button" ui-sref="feed">
          <i class='icon ion-ios-list-outline' style="padding-right: 10px"></i>
          News and Events
        </button>
      </div>
      <div id="find-doctors" class="row">
        <button class="button" ui-sref="list">
          <i class='icon ion-search' style="padding-right: 10px"></i>
          Find Doctors
        </button>
      </div>
      <div id="patient-forums" class="row">
        <button  class="button" ui-sref="case">
          <i class='icon  ion-ios-people' style="padding-right: 10px"></i>
          Patient Forums
        </button>
      </div>
      <div class="row">
        <button  class="button" ui-sref="references">
          <i class='icon ion-ios-calculator' style="padding-right: 10px"></i>
          References
        </button>
      </div>
      <div ng-show='isDoctor'>
          <div id="medical-forums" class="row">
            <button class="button" ui-sref="journal">
              <i class='icon ion-ios-copy' style="padding-right: 10px"></i>
              Journals
            </button>
          </div>

          <div id="post-case" class="row">
            <button class="button" ui-sref="userCases">
              <i class='icon ion-ios-person' style="padding-right: 10px"></i>
              My Account
            </button>
          </div>
          <div ng-click='signOut()' style="margin-top: 20px; opacity: 0.4; width: 50%; padding: 10px; margin: auto; text-align: center;">Sign Out</div>
        </div>
        <div ng-show="!isDoctor" class="row ">
          <button ui-sref="login" class='button button-full'>
            Login
          </button>
        </div>
      </div>

    </div>
  </div>
</ion-scroll>
<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Verification</h1>
    </ion-header-bar>

    <ion-content>
      <div ng-show="hasErrors" class="item item-input">
        <p>
          <ul class='errors'>
            <li ng-repeat='error in errors'><p>{{error}}</p></li>
          </ul>
        </p>
      </div>

      <div class="card" style="background: powderblue;padding-bottom: 20px">
        <div class="list list-inset">
          <div class="item item-text-wrap">
            You will soon receive a verification code in your sms. Please enter the code here:
          </div>
          <label class="item item-input" style="margin: 0;">
            <span class="input-label" >Verification Code</span>
            <input  ng-model='verification_code' required type="text" autofocus>
          </label>
        </div>
        <button type="submit" ng-click='verifySubmit(verification_code)' class='center half-wide button shadow button-calm'>Submit</button>
        <div style="text-align: center;" ng-click='verifySubmit(verification_code, "resend")' type="submit" class='center half-wide '>Resend Code</div>
      </div>
      <button type="submit" ng-click='closeModal()' class='center half-wide button  button-stable'>Cancel</button>
    </ion-content>
  </ion-modal-view>
</script>
