<ion-view >
  <div class="bar bar-header item-input-inset">
    <button class="icon ion-arrow-left-c" ui-sref="landing"></button>
    <label class="item-input-wrapper">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <form ng-submit="getDoctors()" >
        <input type="search" ng-model="doctorText" placeholder="Search">
      </form>
      <!-- <i class="icon ion-close" ng-click="clearSearch()"></i> -->
    </label>
    <button class="button button-clear" ng-click="getDoctors()">Search</button>
  </div>

  <ion-content>
    <div class="mainContents">
      <div class="list card"
        ng-click="getDetails(doctor.id)"
        style="margin-bottom: 0px"
        ng-repeat="doctor in currentListofDoctors track by $index"> 
        <div class="item item-avatar" style="border-width: 0">
          <img ng-if="doctor.photo" ng-src="{{apiBaseAddress + '/static/profile/400x400/' + doctor.photo}}">
          <p><h2 ng-if="doctor.name"><span style="text-transform: uppercase;">{{doctor.name}}</span></h2></p>
          <p ng-if="doctor.errorText" >{{doctor.errorText}}</p>
          <p ng-if="doctor.qualification"><i class="icon ion-university"> {{doctor.qualification}}</i></p>
          <p ng-if="doctor.nmc_no">NMC no.: {{doctor.nmc_no}}</i></p>
          <p ng-if="doctor.nma_no">NMA no.: {{doctor.nma_no}}</i></p>
        <p ng-if="doctor.email">{{doctor.email}}</i></p>
      <p ng-if="doctor.OPD"><i class="icon ion-ios-timer-outline"> {{doctor.OPD}}</i></p>
      <p ng-if="doctor.phone"><i ng-click="placeCall(doctor.phone);" class="icon ion-android-call"> {{doctor.phone}}</i></p>
      <p ng-if="doctor.nma_no" style="color: turquoise">✔ NMA Registered</p>
    </div>

    <div ng-if="social" class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item" href="#">
        <i class="icon ion-at"></i>
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-social-facebook"></i>
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-social-twitter"></i>
      </a>
    </div>

  </div>

</div>

  </ion-content>
  <div class="bar bar-footer">
    <button style="font-size: 1rem" ng-click='getDoctors("prev")' class="button button-clear">
      <i id="arrows" class="icon ion-chevron-left"></i>
      Previous
    </button>
    <div class='title'>
      <p style="font-size: 0.8rem">
        Page {{currentPage}} | Total doctors: {{totalNumberofDoctors}} 
      </p>
    </div>
    <button style="font-size: 1rem" ng-click='getDoctors("next")' class="button button-clear">
      Next
      <i id="arrows" class="icon ion-chevron-right"></i>
    </button>
  </div>
</ion-view>
