<ion-view>
<div class="bar bar-header item-input-inset">
  <button class="icon ion-arrow-left-c" onclick="window.history.go(-1)" ></button>
  <label class="item item-input">
    <font color="white">Login</font>
  </label>
</div>

<div ng-show="hasErrors" class="item item-input">
  <p>
  <ul class='errors'>
    <li ng-repeat='error in errors'><p>{{error}}</p></li>
  </ul>
  </p>

</div>
<div class="form login">
  <label class="item item-input">
    <span class="input-label">Phone no.</span>
    <input ng-model="username" type="text">
  </label>
  <label class="item item-input">
    <span class="input-label">Password</span>
    <input ng-model="password" type="password">
  </label>
  <button ng-click="login()" class='center button shadow button-padding button-calm'>Login</button>
  <div style="
    margin: 30px auto;
    text-align: center;
    ">
    <a style="color: gray" href="#"
      onclick="window.open('http://nma.nlocate.com/password_reset', '_system')"
      >Forgot Password</a>
  </div>
  <button ui-sref="signup" class='center button-padding button button-calm button-signup' style="opacity: 0.8"> Sign Up</button>
</div>
</ion-view>
