<ion-view >
<div class="bar bar-header item-input-inset">
  <button class=" icon ion-arrow-left-c" ui-sref="landing" ></button>
  <label class="item item-input">
    <font color="white">Post Your Case</font>
  </label>
  <button class="icon ion-help-circled"></button>
</div>

<ion-content ng-controller='PostController' >
<div ng-show="hasErrors" class="item item-input">
  <p>
  <ul class='errors'>
    <li ng-repeat='error in errors'><p>{{error}}</p></li>
  </ul>
  </p>
</div>
<div class="mainContents post">
  <div class="list list-inset">

    <label class="item item-input">
      <input type="text" ng-model='case.title' placeholder="Title">
    </label>

    <label class="item item-input">
      <textarea ng-model='case.message' placeholder="Explain your case..." style="height:100px;"></textarea>
    </label>
    <br/>
    <button ng-click="submit()" class="button button-calm" >
      Submit
    </button>
  </div>

</div>
</ion-content>
</ion-view>
