<div class="bar bar-header item-input-inset ">
  <button class="icon ion-arrow-left-c" ui-sref="references"></button>
  <div style="color:white; font-size: 20px;margin-left: 20px;">Pregnancy Wheel</div>
</div>
<ion-view ng-controller="ReferencesController">
  <ion-content class="pregnancy-wheel" overflow-scroll="false">
    <div class="list list-inset card">
      <div class='item item-icon-left'>
        <i class="icon ion-ios-timer-outline"></i>
        First Day of Last Period (Nepali Date)
        <hr/>
        <div> date: <input type="number"  ng-model="pgdate.date"class="border " value="" name="date" id=""/> </div>
        <div> month: <input type="number" ng-model="pgdate.month"class="border " value="" name="month" id=""/> </div>
        <div> year: <input type="number"  ng-model="pgdate.year"class="border " value="2073" name="year" id=""/> </div>
        <!-- <input type="text" id="nepaliDatePicker" class="nepali&#45;calendar ndp&#45;nepali&#45;calendar" value="2069&#45;08&#45;12" onfocus="showNdpCalendarBox('nepaliDatePicker')" autocomplete="off"> -->
      </div>

      <button class="button button-full button-positive" ng-click="pg_calculate(pg.lastDate)">
        Calculate
      </button>
    </div>

    <div class="center-align list list-inset card" ng-if="pg.expected_date">
      <div class='item header'>
        Estimated Date of Delivery:
      </div>
      <div style="color: #00528c" class="item">
         {{pg.expected_date}}
      </div>
    </div>
  </ion-content>
</ion-view>
