<div class="bar bar-header item-input-inset">
  <button class="icon ion-arrow-left-c" ui-sref="landing"></button>
  <div style="color:white; font-size: 20px;margin-left: 20px;
    ">References</div>
</div>
<ion-view >
  <div class="list list-inset">
    <a class="item item-icon-left" ui-sref="bmi">
      <i class="icon ion-calculator"></i>
      BMI Calculator
    </a>

    <a class="item item-icon-left" ui-sref="pregnancyWheel">
      <i class="icon ion-ios-calendar-outline"></i>
      Pregnancy Wheel
    </a>

    <a class="item item-icon-left" ui-sref="gcs">
      <i class="icon ion-clipboard"></i>
      Glasgow Coma Scale
    </a>

    <a class="item item-icon-left"
      ng-click="fillData( 'urine', 'Urine Analysis' )"
      ui-sref="bodyfluids">
      <i class="icon ion-ios-list-outline"></i>
      Urine Analysis
    </a>

    <a class="item item-icon-left"
      ng-click="fillData( 'cerebrospinal', 'Cerebrospinal Fluid' )"
      ui-sref="bodyfluids">
      <i class="icon ion-ios-analytics"></i>
      Cerebrospinal Fluid
    </a>

    <a class="item item-icon-left"
      ng-click="fillData( 'stool', 'Stool Analysis' )"
      ui-sref="bodyfluids">
      <i class="icon ion-ios-list-outline"></i>
      Stool Analysis
    </a>

    <a class="item item-icon-left"
      ng-click="fillData( 'bloodanalysis', 'Blood Analysis' )"
      ui-sref="bodyfluids">
      <i class="icon ion-ios-analytics"></i>
      Blood Analysis
    </a>

  </div>
</ion-view>

