<ion-view >
<div class="bar bar-header item-input-inset">
  <button class="icon ion-arrow-left-c" onclick="window.history.go(-1)" ></button>
  <label class="item item-input">
    <font color="white">Sign Up</font>
  </label>
</div>

<ion-content ng-controller='LoginController'>
  <form class="form login signup-form" >
    <div ng-show="hasErrors" class="item item-input">
      <p>
      <ul class='errors'>
        <li ng-repeat='error in errors'><p>{{error}}</p></li>
      </ul>
      </p>

    </div>

    <label class="item item-input">
      <span class="input-label">Full Name</span>
      <input ng-model='name' required type="text" value="nabeen khadka">
    </label>
    <label class="item item-input">
      <span class="input-label">Phone no.</span>
      <input ng-model='mobile' required type="text" value="9845047667">
    </label>
    <label class="item item-input">
      <span class="input-label">Username</span>
      <input ng-model='username' required type="text" value="nabnk">
    </label>
    <label class="item item-input">
      <span class="input-label">Email</span>
      <input ng-model='email' required type="email" value="this@that.com">
    </label>
    <label class="item item-input">
      <span class="input-label">Password</span>
      <input ng-model='password' required type="password" value="password">
    </label>
    <label class="item item-input">
      <span class="input-label" style="white-space: pre">Password Again</span>
      <input ng-model='password2' required type="password" value="password">
    </label>
    <button type="submit" ng-click='signUp()' class='center half-wide button shadow button-calm'>Sign Up</button>
  </form>
  <button type="submit" ng-if="toggleModalFlag" style="margin-top: 10px" ng-click='openModal()' class='center half-wide button shadow button-calm'>Enter Pin</button>
</ion-content>
</ion-view>
