<ion-view>
  <div class="bar bar-header item-input-inset">
    <button class=" icon ion-arrow-left-c" ui-sref="landing"  ></button>
    <div style="color:white; font-size: 20px;margin-left: 20px;:">My Account</div>
  </div>
  <ion-content overflow-scroll="true">

    <div class="mainContents" style='margin-bottom: 55px'>

      
      <div ng-if='userDetails.name' class="card list">

        <div class="item item-avatar">
          <img ng-if="userDetails.photo" ng-src="{{userDetails.photo}}">
          <h2>{{ userDetails.name  }}</h2>
          <h3 style="color: gray;" ng-if="userDetails.specialization">{{userDetails.specialization}}</h3>
          <h3 style="color: gray;" ng-if="userDetails.designation">{{userDetails.designation}}</h3>
          <h3 style="color: gray;" ng-if="userDetails.qualification"><i class='icon ion-university'></i> {{userDetails.qualification}}</h3>
          <h3 style="color: gray;" ng-if='userDetails.mobile'><i class='icon ion-android-call'></i> {{ userDetails.mobile  }}</h3>
          <h3 style="color: gray;" ng-if='userDetails.current_address'><i class='icon ion-home'></i> {{ userDetails.current_address  }}</h3>
          <h3 style="color: gray;" ng-if='userDetails.email'><i class='icon ion-email'></i> {{ userDetails.email  }}</h3>
          <h3 style="color: gray;" ng-if='userDetails.hospital'><i class='icon ion-medkit'></i> {{ userDetails.hospital  }}</h3>
          <h3 style="color: gray;" ng-if='userDetails.clinic'><i class='icon ion-ios-medkit'></i> {{ userDetails.clinic  }}</h3>
          <br/>
          <h3 style="color: gray;" ng-if='userDetails.nma_no'>NMA no.: <b>{{userDetails.nma_no}}</b></h3>
          <h3 style="color: gray;" ng-if='userDetails.nmc_no'>NMC no.: <b>{{userDetails.nmc_no}}</b></h3>
          <h3 style="color: gray;" ng-if='userDetails.life_member_no'>Life Member No.: <b>{{userDetails.life_member_no}}</b></h3><br/>
          <b ui-sref='editProfile' style='color: lightgray;border:none; float: right;' class="item item-icon-left assertive" href="#">
            <i class="ion-edit"> Edit</i>
          </b>
        </div>
        <div class="button" style='background: rgba(0,0,0,0); color: lightgray;border:none; float: right;' ngf-select ngf-change="upload($files)" ngf-multiple="multiple">Change Profile Picture</div>
      </div>

      <div ng-if="verification_pending" class="list card">
        <div class="item item-divider">
          <h4 style="float: right; color: gray;"> [ Verification Pending ] </h4>
          <h2> {{claimer.name}} </h2>
        </div>
        <div class="item item-text-wrap">
          <h4>{{claimer.qualification}}</h4>
          <p>
            {{claimer.permanent_address}}
          </p>
          <p>
            <b>NMA no.</b> {{claimer.nma_no}}
          </p>
          <p>
            <b ng-click="withdraw(claimer.id)" class='border' style='float: right'>Withdraw Claim</b>
          </p>
        </div>
      </div>
      <div ng-if="!claimStatus.has_claim && !claimStatus.claim_approved" class="row">
        <button class="button" ui-sref="claim">
          Claim
        </button>
      </div>




      <div ng-repeat="_case in cases">
        <div ng-if="_case" class="list card dialog " >
          <div class="item item-body">
            <span  style="text-align: right;font-family:sans-serif;font-weight: bold; font-size: small">{{_case.user}}</span>
            <h2 ng-click="viewDetail(_case)" >{{_case.title}}</h2>
            <p> {{_case.message}}</p>
            <p>
              <a href="#" class="subdued">
                <font style="font-family:sans-serif ; font-size: small"> {{_case.timedelta}}</font>
                <font ng-if="_case.comment_count" style="font-family:sans-serif;font-weight: bold; font-size: small">| {{_case.comment_count}} comments</font>
              </a>
              <div class=" right-align ">
                <span ng-click="viewDetail(_case)" class=" button label-blue " fit>View More</span>
                <span ng-click="deleteCase(_case.id)" class=" button label-blue " fit>Delete</span>
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <div ng-if="isLoggedIn" id="post-case" class="row fix-to-bottom">
    <button class="button" ui-sref="post">
      Post a New Case
    </button>
  </div>
</ion-view>
